---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`bg-dark p-8 rounded-lg shadow-xl border border-light-dark hover:border-primary/50 transition-all duration-300 transform hover:-translate-y-2 ${className}`}>
  <slot />
</div>
